@model MonedaCubana.Models.Grupo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSolution.cshtml";
}


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<div class="form-horizontal">
    <h2>Crear Curso</h2>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2"> Nombre </label>
        <div class="col-md-3">
            <input type="text" id="NombreGrupo" class="form-control" onchange="Rutina_ValidarTexto(this)" maxlength="11" />
        </div>

        <label class="control-label col-md-2 col-md-offset-2">Sesión</label>
        <div class="col-md-3">
            <input type="text" id="Sesion" class="form-control" onchange="Rutina_ValidarTexto(this)" />
        </div>
    </div>

   
</div>



<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("<<Atrás", "Index")
    </div>
    <div class="col-md-6">
        <input type="button" id="btnCrear" class="right btn btn-info" value="Crear" />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/res/jsProfesor.js"></script>*@

}
