/*.fa fa-edit {
    cursor: pointer;
    text-decoration: underline;
}

.fa fa-close {
    cursor: pointer;
    text-decoration: underline;
}*/

.tableProcesando {
    border-style: double;
    border-color: #89A02C;
}

.tablaAtajos {
    background-color: #FFFFFF;
}
