@model IEnumerable<MonedaCubana.Models.PruebaAsociacion>

<table class="display tableDesign" id="profesorasignaturaPartial">
    <thead>
        <tr>
            <th>
                Nombre Taller
            </th>
            @*<th>
                    Categoria Docente
                </th>
                <th>
                    Categoria Científica
                </th>*@
            <th>
                Asociar Asociar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                                       
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Categoria_Docente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria_Cientifica)
                    </td>*@
                <td>
                   @* <input type="checkbox" class="asociarPartial" data-tipo=@item.TallerID />*@
                    @Html.DisplayFor(modelItem => item.Posee)
                </td>
            </tr>
        }
    </tbody>

</table>



@*<div class="row">
    
    <div class="col-md-6">
        <input type="button" id="btnAsignar" class="right btn btn-info" value="Asignar" />
    </div>
</div>*@

    


